.music {
    border:2px solid black;
    width:200px;
    height:200px;
	float:left;
}
#control {
    background-color:black;
}
#tune1 {
    background-color:red;
}
#tune2 {
    background-color:blue;
}
#tune3 {
    background-color:green;
}
#tune4 {
    background-color:yellow;
}
